.ViewAll{
    float: right;
    width: 800px;
    height: 600px;;
}

#wrapper {
    display: block;
    width: 790px;
    background: #fff;
    margin: 0 auto;
    padding: 10px 17px;
    -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
    margin: 0 auto;
    font-size: 1.2em;
    margin-bottom: 15px;
    width: 750px;
}


#keywords thead {
    cursor: pointer;
    background: #c9dff0;
}
#keywords thead tr th { 
    font-weight: bold;
    padding: 12px 30px;
    padding-left: 42px;
}
.mid{

    text-align: center;
}
#keywords thead tr th span { 
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 100% 100%;

}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
    background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
    background-image: url('http://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
    background-image: url('http://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
    color: #555;
}
#keywords tbody tr td {
    text-align: center;
    padding: 15px 10px;
}
#keywords tbody tr td.lalign {
    text-align: left;
}

.addd {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.addd:focus {
    border-color:#333;
}

.addd {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 10px;

}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}

