<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateHome</servlet-name>
        <servlet-class>UpdateHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>Servlet.UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayImage</servlet-name>
        <servlet-class>Servlet.DisplayImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WoodProduct</servlet-name>
        <servlet-class>Servlet.WoodProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GlassProduct</servlet-name>
        <servlet-class>Servlet.GlassProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAuth</servlet-name>
        <servlet-class>Servlet.AdminAuth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAll</servlet-name>
        <servlet-class>Servlet.ViewAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Welcome</servlet-name>
        <servlet-class>Servlet.Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditRecord</servlet-name>
        <servlet-class>EditRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>Servlet.UpdateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecord</servlet-name>
        <servlet-class>Servlet.DeleteRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Servlet.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Servlet.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Servlet.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoppingCart</servlet-name>
        <servlet-class>Servlet.ShoppingCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopCart</servlet-name>
        <servlet-class>Servlet.ShopCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GolfProduct</servlet-name>
        <servlet-class>Servlet.GolfProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCart</servlet-name>
        <servlet-class>Servlet.ManageCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>Servlet.About</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateHome</servlet-name>
        <url-pattern>/UpdateHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayImage</servlet-name>
        <url-pattern>/DisplayImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WoodProduct</servlet-name>
        <url-pattern>/Wood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GlassProduct</servlet-name>
        <url-pattern>/Glass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAuth</servlet-name>
        <url-pattern>/AdminAuth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAll</servlet-name>
        <url-pattern>/ViewAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditRecord</servlet-name>
        <url-pattern>/EditRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecord</servlet-name>
        <url-pattern>/DeleteRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/ShopCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoppingCart</servlet-name>
        <url-pattern>/ShoppCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopCart</servlet-name>
        <url-pattern>/ShopCart1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GolfProduct</servlet-name>
        <url-pattern>/Golf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCart</servlet-name>
        <url-pattern>/ManageCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Welcome</welcome-file>
    </welcome-file-list>
</web-app>
